.property-list {
  font-family: 'Arial', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.saved-properties {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.favorited-listings h1 {
  margin-bottom: 10%;
}

.visit-requests ul {
  list-style-type: none;
  padding: 0;
}

.visit-requests li {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

/* Additional styles for better responsiveness */
@media (max-width: 768px) {
  .favorites h1 {
    font-size: 28px; /* Adjust font size for smaller screens */
  }

  .visit-requests li {
    padding: 8px;
  }
}
