body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --collection-1-5097a4: rgba(255, 255, 255, 1);
  --collection-1-bar-color: rgba(14, 76, 146, 1);
  --collection-1-main: rgba(64, 111, 165, 1);
  --collection-1-main2: rgba(10, 54, 104, 1);
  --collection-1-words-color: rgba(16, 114, 132, 1);
  --star: rgba(255, 247, 171, 1);
  --x-1433-9e: rgba(20, 51, 158, 1);
}

