

.button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;   /* Rounded corners for consistency */
  padding: 12px 32px;    /* Padding for sizing */
  min-width: 128px;      /* Minimum width */
  font-family: "Roboto", Helvetica;
  font-size: 18px;       /* Default font size */
  font-weight: 400;
  text-align: center;
  box-sizing: border-box; /* To include padding and border in total width/height */
  transition: all 0.3s;
  border: none;           /* No border by default */
  background-color: transparent; /* No background for an outlined button */
  color: white;                /* Text color matches the border */
  border: 1px solid #ffffff;     /* Outline */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.button-secondary:hover {
  background-color: #14339E; /* Light shade on hover for a subtle effect */
}

.button-secondary .text {
  font-weight: 400; /* Adjusting font weight for consistency */
}

/* For screens smaller than 480px */
@media (max-width: 480px) {
  .base-button {
    font-size: 16px;
    padding: 10px 28px;  /* Adjust padding for smaller screens */
  }
}
