.filter-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.filter-form input[type="text"],
.filter-form select {
  width: 100%;
  padding: 10px; /* Adjusted padding */
  font-size: 16px;
  margin-bottom: 15px;
  border: 2px solid #ccc; /* Increased border thickness */
  border-radius: 10px; /* Increased border radius for curvier appearance */
}

.filter-form .button-group {
  display: flex;
  gap: 10px;
}

.filter-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #45a049;
}
.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

.input-instance {
  flex: 1;
  height: 40px;
  width: 800px!important;
  border-radius: 8px; /* Adjust the border-radius to your preference */
  border: 2px solid #3498db; /* Change the border color */
  padding: 10px;
  font-size: 16px; /* Change the font size */
  color: #333; /* Change the text color */
  background-color: #f2f2f2; /* Change the background color */
}

.input-instance:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #2ecc71; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* Add a box shadow on focus */
}