:root {
  --search-bar-height: 15%;
}

.search {
  background-color: #ffffff;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  height: var(--search-bar-height);
  margin-bottom: calc(var(--search-bar-height) / -2);
}

.search .subtitle-icon {
  align-items: center;
  display: flex;
  gap: 12px;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.search .description {
  color: var(--x-1433-9e);
  font-family: "Montserrat", Helvetica;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.search .icons-search {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 10px;
}

.input-instance {
  flex: 1;
  height: 40px;
  width: 800px!important;
  border-radius: 8px; /* Adjust the border-radius to your preference */
  border: 2px solid #3498db; /* Change the border color */
  padding: 10px;
  font-size: 16px; /* Change the font size */
  color: #333; /* Change the text color */
  background-color: #f2f2f2; /* Change the background color */
}

.input-instance:focus {
  outline: none; /* Remove the default focus outline */
  border-color: #2ecc71; /* Change the border color on focus */
  box-shadow: 0 0 5px rgba(46, 204, 113, 0.5); /* Add a box shadow on focus */
}

.button,
.button-with-icon {
  height: 40px;
  margin-left: 10px;
}

.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border: none;
  background-color: #f8f8f9;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #c5ced7;
  }
}

.modal {
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal.visible {
  display: flex;
}

.modal-content {
  background: white;
  z-index: 9999;
  padding: 20px;
  border-radius: 5px;
}

/* Responsive styles using media queries */
@media screen and (max-width: 768px) {
  .input-instance {
    width: 60%;
    font-size: 14px;
  }

  .button {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .input-instance {
    width: 50%;
    font-size: 12px;
  }

  .button {
    padding: 6px 10px;
    font-size: 12px;
  }
}
